<div class="custom-card card">
  <div class="content">
    <% header_href = website.nil? ? source_link : website %>
    <a class="header" href="<%= header_href %>" target="_blank"><%= name %></a>
    <div class="description">
      <%= desc %>
    </div>
  </div>
  <div class="extra content">
    <% unless source_link.empty? %>
      <span class="right floated">
        <% link_to source_link, target: '_blank' do %>
          <i class="fa fa-github"></i>
          Source
      <% end %>
      </span>
    <% end %>
    <% unless blog_link.empty? %>
      <% link_to blog_link, target: '_blank', class: 'no-underline-a' do %>
        <span>
          <i class="fa fa-file"></i>
          Blog
        </span>
      <% end %>
    <% end %>
  </div>
</div>
