---
title: Fahad's Blog
---

<%= stylesheet_link_tag 'semantic-ui/card.min' %>

<div class="projects-container">
  <div class="ui three stackable cards">
    <% data.projects.each do |p| %>
      <%= partial :project, locals: p %>
    <% end%>
  </div>
</div>
