---
title: Projects
---

<div class="projects-container">
  <div class="ui two stackable cards">
    <% data.projects.each do |p| %>
      <%= partial :project, locals: p %>
    <% end %>
  </div>
</div>
