p.bio {
  font: 18px arial, sans-serif;
  line-height: 28px;
  text-align: justify;
  color: #666666;

  a {
    text-decoration: none;
    color: #008584;
    &:hover {
      text-decoration: underline;
      color: #006666;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  p.bio {
    padding: 0px 20px;
    font: 32px;
  }
}

@media only screen and (max-width: $mobile-width) {
  p.bio {
    font-size: 20px;
    text-align: center;
  }
}