@charset "utf-8";

$mobile-width: 668px;
$tablet-width: 768px;
$desktop-width: 1024px;

@import "normalize";
@import "blogs";
@import "projects";
@import "about";

@font-face {
  font-family: 'Scheherazade';
  src: url('../fonts/Scheherazade-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #F5F5F5;
}

a {
  text-decoration: none;
  white-space: nowrap;
  color: #008584;
  &:hover {
    text-decoration: underline;
    color: #006666;
  }
}

// layout
.container {
  width: 80%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

// layout header
div.layout-header {
  padding-top: 25px;
  text-align: center;
  color: #008584;

  div.logo {
    font: 60px Scheherazade, serif;
  }

  div.social {
    font-size: 35px;

    a:hover {
      text-decoration: none;
    }
  }
}

// menu
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 23px;
  padding: 40px 0px;
  text-align: center;
}

.menu .item {
  color: #008584;
}

.menu .padded.item {
  padding: 0px 15px;
}

.menu a.item {
  &:hover {
    text-decoration: underline;
    color: #006666;
  }
}


@media only screen and (max-width: $tablet-width) {
  .container {
    width: 600px;
  }
}

@media only screen and (max-width: $mobile-width) {
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu {
    font-size: 23px;
    padding: 40px 0px 15px 0px;
  }

  .menu .item {
    width: 10%;
  }

  .menu .padded.item {
    width: 40%;
    padding: 7px 0px;
  }

  .menu .item.not-on-mobile {
    display: none;
  }
}