<div class="blogs-container">
  <% custom_blogs.each_with_index do |article, i| %>
    <div class="blog-entry">
      <%= link_to article.title, article, class: "title" %>
      <%= article.summary(350) %>

      <div class="metainfo">
        <span class="date"><%= article.date.strftime('%B %e, %Y') %></span>
        <div class="tags">
          <% article.tags.each do |tag| %>
            <span class="tag">
              <%= link_to tag, tag_path(tag) %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
