<div class="navigation">
  <% link_to prev_page do %>
    <i class="fa fa-long-arrow-left"></i>
  <% end %>
  <%= page_number %> / <%= num_pages %>
  <% link_to next_page do %>
    <i class="fa fa-long-arrow-right"></i>
  <% end %>
</div>

