---
title: Fahad Almusharraf
pageable: true
---

<div class="tagged-articles-header">
  <h2>blogs tagged  with <span><%= tagname %></span></h3>
</div>

<%
paging_data = {
  next_page: next_page,
  prev_page: prev_page,
  page_number: page_number,
  num_pages: num_pages
}
%>

<%=
partial(:blog_entries,
        locals: {custom_blogs: page_articles, paging_data: paging_data})
%>
