---
title: About
---

<p class="bio">
I'm a Software Engineer currently living in Ontario, Canada. I went to the University of Waterloo where I got my bachelors degree in Computer Engineering. I use this website to share my thoughts and showcase my work. You can contact me at <a href="mailto:falmusha@gmail.com">falmusha@gmail.com</a>.
</p>

<p class="bio">
I'm also interested in photography. Check me out <a href="https://500px.com/ifahad7" target="_blank">here</a>.
</p>



