---
title: About
---

<p class="bio">
  I'm a Computer Engineer currently doing a master's degree at
  <a href="https://www.ece.utoronto.ca" target="_blank">UofT</a>.
  I use this website to share my thoughts and showcase my work. You
  can contact me at <a href="mailto:falmusha@gmail.com">falmusha@gmail.com</a>.
</p>

<p class="bio">
  I'm also interested in photography. Check it out
  <a href="https://500px.com/ifahad7" target="_blank">here</a>.
</p>




