---
title: Fahad Almusharraf
---

<div class="quotes">
  <blockquote class="ar">
    أملي أكبر من جهدي … وجهدي أكبر من موهبتي … وموهبتي سجينة طبعي … ولكني أقاوم.
    <cite>توفيق الحكيم</cite>
  </blockquote>
  <blockquote class="en">
    My hope is greater than my effort ... and my effort is greater than my
    talent ... and my talent is a hostage of my temper ... but I persist.
    <cite>Tawfiq Alhakim</cite>
  </blockquote>
</div>
